* {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

html {
  padding: 0px;
  margin: 0px;
}

header {
  border-bottom: 1px solid rgba(124, 121, 121, 0.698);
  height: 50px;
}

a {
  color: #2e2e2e;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul ul {
  display: none;
}
nav ul li {
  list-style: none;
  position: relative;
}
nav ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #949494;
  padding-bottom: 2px;
  text-decoration: none;
}
nav > ul > li > a:hover,
nav > ul > li:hover > a {
  color: #21354f;
  border-bottom: 3px solid rgba(255, 0, 0, 0.698);
}
nav ul li:hover > ul {
  display: block;
}

nav > ul > li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

nav ul ul {
  position: absolute;
  left: 0;
  white-space: nowrap;
  background-color: #fff;
  margin: 4px 0 0 0 !important;
  padding: 0;
}

nav ul ul li {
  display: block;
  padding: 8px 20px 8px 8px;
  border-bottom: 1px solid #c9c9c9;
}
nav ul ul li a {
  color: #2e2e2e;
}

nav ul ul li:hover {
  background-color: rgba(255, 0, 0, 0.698);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
nav ul ul li:hover a {
  color: #fff;
}

.menu_item img {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.menu_item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.menu_item img:hover {
  background-color: rgba(255, 0, 0, 0.698);
  border-radius: 30px;
  transition: all 0.5s;
}

.fotter_t {
  left: 0;
  width: 100%;
  text-align: center;
  height: 100px;
  background-color: rgba(124, 121, 121, 0.698);
}

.fotter_t .div_first {
  display: block;
  font-size: 20px;
  width: 70%;
  padding: 10px;
  float: left;
}

.fotter_t .div_last {
  width: 25%;
  float: right;
  padding: 7px;
}

.fotter_t .div_first ul {
  list-style: none;
  padding: 10px;
}

.fotter_t .div_first ul li {
  display: inline-block;
  padding: 10px;
}

.fotter_t .div_first ul li a {
  text-decoration: none;
}

.fotter_t .div_last ul {
  list-style: none;
}

.fotter_t .div_last ul li {
  padding: 10px;
  text-align: left;
}

.fotter_t .div_last ul li a {
  text-decoration: none;
}

.fotter_t .div_last ul li img {
  margin: 0 10px 0 0;
  height: 30px;
  width: 30px;
}

.last_footer {
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  height: 150px;
  width: 100%;
}

.last_footer p {
  text-align: left;
  padding: 15px 14px;
  margin: 0;
}
.intro-title {
  background-color: rgb(231, 227, 227);
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.table_c {
  width: 100%;
  background-color: white;
  margin: 3px 5px;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
}

.table_c img {
  padding: 2px;
  width: 38%;
  height: 75px;
  float: left;
}

.table_c h2 {
  color: black;
  padding: 2px;
  font-size: 15px;
  width: 58%;
  float: right;
}
.table_c h2:hover {
  color: rgb(180, 57, 57);
}

.main-card {
  width: 60%;
  padding: 5px 10px;
}

.content-card {
  background: #fff;
  padding: 5px 10px;
}
.content-card h2 {
  padding: 10px 0;
}
.content-card img {
  width: 100%;
  border: 2px solid rgb(180, 57, 57);
  margin-bottom: 20px;
}
.fst_sec {
  padding: 20px 0;
}

.div-wrapper {
  display: flex;
  width: 760px;
  height: 100%;
}
.div-wrapper iframe {
  width: 100%;
  height: 100%;
}

.pepole-comment-part728 {
  padding: 20px;
  background-color: white;
}

.c-details72839 img {
  height: 150px;
  width: 265px;
}
.content-details7238 {
  line-height: 1.5em;
}
.content-details7238 a {
  text-decoration: none;
}
.content-details7238 p {
  font-size: 13px;
  color: #5a5d5a;
  font-size: 15px;
}
.content-details7238 h6 {
  margin-top: 15px;
}

.content-item812 img {
  height: 70px;
  width: 100px;
  float: left;
  margin-right: 5px;
  padding-bottom: 10px;
}
.wrapper789 a {
  text-decoration: none;
}
.wrapper789 p {
  font-size: 15px;
}
.wrapper789 h6 {
  font-size: 10px;
  color: #ef3f23;
}
.picture-part-hedaing h3 {
  font-size: 20px;
  margin-bottom: 20px;
  border-left: 3px solid #d84315;
  padding-left: 10px;
  color: #4a4a4a;
}
.c-details72839 img {
  height: 150px;
  width: 265px;
}
.content-details7238 {
  line-height: 1.5em;
}
.content-details7238 a {
  text-decoration: none;
}
.content-details7238 p {
  font-size: 13px;
  color: #5a5d5a;
  font-size: 15px;
}
.content-details7238 h6 {
  margin-top: 15px;
}

.signup {
  padding: 5px 10px;
  background: #ef3f23;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.signup:hover {
  border: 1px solid #21354f;
  color: #fff;
}
.login {
  padding: 5px 10px;
  background: #949494;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.login:hover {
  border: 1px solid #21354f;
  color: #fff;
}
